<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Общежитие 13</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Styles.css" />
</head>

<body>
    <header>
        <!-- Шапка -->
        <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Общежитие 13</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Students/Students">Студенты</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="#">Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @{
        if (ViewData["PageID"] == "Table")
        {
            <div class="container" style="margin-left:0; max-width:100%">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        }

        else
        {
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        }

    }


    <footer class="border-top footer text-muted">
        <div class="footer-container" style="margin-left: 0.5%">
            &copy; 2021 - Общежитие 13
        </div>
        <div class="footer-container" style="text-align:right;margin-right: 1%">
            Ерофеенко В.А.
        </div>
        <div class="footer-container" style="text-align:right;margin-right: 1%">
            Кармальков А.В.
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
